body {
    padding-top: 3.2rem;
    background: white;
}


/*
    [GLOBAL FONT]
*/

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 16px;
}


/*
    [NAVIGATION LINK]
*/

a {
    color: #0366d6;
    text-decoration: none;
    /* Provide sufficient contrast against white background */
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/*
    [STICKY FOOTER]
*/

html {
    position: relative;
    min-height: 100%;
}

th {
    text-transform: uppercase;
}

.inline-icon {
    display: inline-flex;
    vertical-align: top;
}

.font-20px {
    font-size: 18px !important;
    margin-top: 2px;
}

.ul-remove-bullets {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.ul-display-inline {
    display: inline-block;
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables tr {
        border: 1px solid #ccc;
    }
    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /*
	Label the data
	*/
    #no-more-tables td:before {
        content: attr(data-title);
    }
}

.cursor-pointer {
    cursor: pointer;
}

.sm-device {
    display: none;
}

@media (max-width:767px) {
    .sm-device {
        display: inline;
    }
    .lg-device {
        display: none;
    }
    .navbar-collapse {
        height: 100vh;
    }
}

@media (max-width:767px) {
    .sm-device {
        display: inline;
    }
    .lg-device {
        display: none;
    }
    .navbar-collapse {
        height: 100vh;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 53px;
}

.page-item.active .page-link {
    color: #fff !important;
    background: #212529 !important;
    border: 1px solid #212529;
}

.page-link {
    position: relative;
    display: block;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.or-separator {
    display: flex;
    flex-direction: row;
}

.or-separator:before,
.or-separator:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.or-separator:before {
    margin-right: 10px
}

.or-separator:after {
    margin-left: 10px
}

.ul-remove-bullets {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}